<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pathtools- {% block title %} Pathtools {% endblock %} </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

  <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'bootstrap-3.3.6/dist/js/bootstrap.min.js' %}"></script>

  </head>

  <body>

    <!-- NAVBAR CODE -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'dx_search' %}">Pathtools</a>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            {# <li class="nav-item"> #}
            {#             <a class="nav-link" href="{% url 'dx_search' %}"><i>dx_search</i></a> #}
            {# <li class="nav-item"> #}
            <li class="nav-item">
                        <a class="nav-link" href="{% url 'dx_search' %}"><i>Fast_Query</i></a>
            </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'dx_download' %}"><i>Research_Query</i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'case_upload_portal' %}"><i>Case/Patient Upload Portal</i></a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'case_set_dashboard' %}"><i>Case Set Dashboard</i></a>
          </li>

          {% if user.profile.analyst_status %}

          {# <li class="nav-item"> #}
          {#     <a class="nav-link" href="{% url 'execute_search_test' %}"><i>TEST</i></a> #}
          {# </li> #}

          {# <li class="nav-item"> #}
          {#     <a class="nav-link" href="{% url 'case_finding' %}"><i>Analyst Case_Finding</i></a> #}
          {# </li> #}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'analyst_dashboard' %}">Analyst View</a>
            </li>
          {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Database Stats</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'password_change_default' %}">Password Change</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
          </li>
            
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_password_reset' %}">Reset Password</a>
          </li>

        {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href= "{% url 'dx_search' %}">{{user}} is logged in</a>
            </li>
        </ul>
        {% endif %}


    </div>
    </nav>

    <!-- SIDEBAR CODE **NOT ONLINE 
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-list flex-column">
                <li class="nav-tem">Type to find a category</li>
                <form action="/rango/suggest/" method="GET">
                    <li class="nav-item">
                        <input class="search-query form-control" type="text" name="suggestion" value="" id="suggestion" /> 
                    </li>
                </form>
            </ul>
            <hr>
            <div id="cats">
            </div>
        </nav>
    -->

    <!-- MAIN CODE -->
        <main class="col-sm-9 col-md-10 pt-3">
        <!--    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3"> -->

            {% block body_block %}{% endblock %}
        </main>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--  COMMENT out commend to load from CDN
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    -->
   
    <!-- Load .js file for custom site-specific functions -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
